*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Poppins", sans-serif;
}

.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid rgba(255, 255, 255, 0.2);
	outline: none;
	background-color: rgb(32, 82, 149);
	color: #fff;
}

.calculator-grid > button:hover {
	background-color: rgb(44, 116, 179);
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgb(10, 38, 71);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operand {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5rem;
}

.output .current-operand {
	color: #fff;
	font-size: 2.5rem;
}
